*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body, p, h2 {
    margin: 0;
}

header, footer {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    background: darkgrey;
    padding: 10px 0;
}

.container {
    width: 400px;
    margin: 0 auto;
}

section {
    background: white;
    padding: 20px;
}

.section-2 {
    background: lightgrey;
}

h2 {
    margin-bottom: 10px;
}