:root {
  --color-leo: #5dbcdc;
  --color-raph: #ce653c;
  --color-mikey: #e2ba3e;
  --color-donnie: #c081d0;
  --color-skin: #aaca4e;
  --color-title-shadow: #f4cd09a6;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Turtles";
  src: url("../fonts/Turtles.otf") format("opentype");
}

body {
  margin: 0;
  background: #000;
  font-family: "Protest Riot", sans-serif;
}

h2 {
  font-family: "turtles";
  letter-spacing: 4px;
  text-align: center;
  font-size: 3rem;
  color: var(--color-skin);
  margin-bottom: 5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* header */

.hero-header {
  height: 100vh;

  background-image: url("../images/background/tmnt.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background: #000000e4;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  transition: transform 0.2s ease-in-out;

  width: 130px;
  cursor: pointer;
}

.nav-logo:hover {
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.nav-links li a {
  font-family: "turtles";
  letter-spacing: 2px;
  font-size: 1.3rem;
  color: var(--color-skin);
  padding: 10px;
  text-decoration: underline transparent;
  transition: text-decoration-color 0.2s ease-in-out;
}

.nav-links li a:hover {
  text-decoration-color: var(--color-skin);
}

/* MAIN - Personnages */

.caracters-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin: 100px 0 200px;
  scroll-margin-top: 100px;
}

.card {
  background: white;
  display: flex;
  border-radius: 15px;
  margin-bottom: 30px;
  transition: transform 0.2s ease-in-out;

  overflow: hidden;
}

.card:hover {
  transform: translate(-5px, -5px);
}

.card-description {
  padding: 20px;
}

.card-img {
  flex-shrink: 0;

  width: 300px;
  height: 300px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-description h3 {
  margin-top: 0;
  font-family: "turtles";
  letter-spacing: 3px;
  font-size: 2rem;
  color: black;
}
.weapons {
  font-weight: bold;
  margin-bottom: 0;
}

/* MAIN - comics */

.comics-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin: 100px 0 200px;
  scroll-margin-top: 100px;
}

.comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  row-gap: 40px;
}

.comic {
  background: #f1f1f1;
  cursor: pointer;
}

.comic-img {
  width: 300px;
  overflow: hidden;
}

.comic-img img {
  transition: transform 0.1s;

  display: block;
  width: 100%;
  aspect-ratio: 280/415;
  object-fit: cover;
}

.comic:hover .comic-img img {
  transform: scale(1.05);
}

.comic-description {
  padding: 10px;
  text-align: center;
}

.comic-description h3 {
  margin: 0;
}

/* Footer */

footer {
  background: var(--color-skin);
  padding: 20px 0;
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 30px;
  height: 30px;
}
